:root {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    --gradient-gold: linear-gradient(93deg, #EBC82D 5.86%, #FEEEA8 98.6%);
    --gradient-silver: linear-gradient(93deg, #9B9B9B 5.86%, #E8E8E8 98.6%);
    --gradient-bronze: linear-gradient(93deg, #EB7C2D 5.86%, #FFB783 98.6%);



}
body {
    background-color: #0B1C50;
    color: white;
}

#wrapper {
    max-width: 1400px;
    margin-inline: auto;
}

h1 {
    font-family: "Oi", serif;
    font-weight: 400;
    color: #F3CE15;
    font-size: 8rem;
    line-height: 1.1;
}

h1 span {
    color:white;
    font-size: 5rem;
    display: block;
}

#hero {
    display: flex;

    img {
        align-self: flex-start;  
    }
}
